h1{
    
    text-transform: uppercase;
    font-size: 2rem;
}

body{
    background-color: black;
}
img{
    border: 5px solid white;
    width: 100%;
}

.custom{
    width: 50%;
    margin-left: 25%;
    text-align: center;
    font-family: "Libre Baskerville", serif;
    color: white;
}